body{

    background-color: rgb(13, 38, 153);
    color: aliceblue;
    font-family: "Baskervville SC", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: blue;
    color: aliceblue;
    font-family: "Baskervville SC", serif;

}

.passo{
    display: none;
}

.passo.ativo{
    display:block;
}

main{
    max-width: 90%;
}